
.container{
    display: flex;
    width: 380px;
    height: 505px;
    flex-direction: column;
}

.green {
    background: green;
    flex-grow: 1;    
}

.yellow {
    background: yellow;
    flex-grow: 2;
}

.purple {
    background: purple;
    flex-grow: 1;
}

.green{order: 0;}
.yellow{order: 2;}
.purple{order: 1;}