
.container{
    display: flex;
    width: 760px;
}

.green {
    background: green;
    height: 190px;
    flex-grow: 1;
    pos
}

.yellow {
    background: yellow;
    height: 190px;
    flex-grow: 2;
}

.purple {
    background: purple;
    height: 190px;
    flex-grow: 1;
}

.green{order: 2;}
.yellow{order: 1;}
.purple{order: 0;}