
body{
    background: #ADA996; 
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
    display: grid;
    justify-content: center;
    align-content: center;
}

.container{
    display: flex;
    height: 360px;
    width: 740px;
    margin: 20px 0px;
}

.button{
    height: 100%;
    width: 50px;
    border: 1px solid black;
    background: #ECE9E6;
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
    
}

.screen{
    height: 100%;
    width: 640px;
    border: 1px solid black;
    background-size: cover;
}

.thumbnails{
    width: 740px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;  
}


.image{
    width: 80px;
    height: 80px;
    border: 5px solid white;
}