
body{
    background: #2F3060;
}

.buttons{
    display: flex;
    margin: 100px auto;
    color: white;
    justify-content: space-between;
    max-width: 500px;
}

.button{
    display: flex;
    width: 140px;
    height: 55px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;

}

.red{
    background: #D24232;
    box-shadow: 0px 4px 0px 0px rgba(134,43,47,1);
    
}

.white{
    background: white;
    color: grey;
    box-shadow: 0px 4px 0px 0px rgba(153,159,179,1);
}

.black{
    background: #262728;
    box-shadow: 0px 4px 0px 0px rgba(30,31,46,1);
}

.button:hover {
    filter: brightness(110%);
  }