body{
    background: #B02AFF
}

.container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    height: 180px;
    color: white;
    grid-gap: 10px;
    font-size: 34px;
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.left, .right{
    background: #FFD62A;
}

.center{
    background: #51D400;
}