.header {
    position: fixed;
    background: #B02AFF;
    height: 80px;
    width: 100%;
    top: 0;
}

.nav_links{
    display: flex;
    align-items: flex-start;
    max-width: 700px;
    margin: 25px auto;
}

.link{
    height: 30px;
    background: #2AEAFF;
    margin-right: 15px;
}

.first{
    width: 85px;
}

.second{
    width: 100px;
}

.third{
    width: 90px;
}

.fourth{
    width: 75px;
}

.layout_body{
    margin: 90px auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 4fr 1fr;
    width: 700px;
    height: 800px;
    grid-template-areas: 
                "sidebar main_content"
                "footer footer"
}

.sidebar{
    background: #51D400;
    grid-area: sidebar;
}

.main_content{
    background: yellow;
    grid-area: main_content;
}

.footer{
    background: gray;
    grid-area: footer;
    height: 70px;
}