*{
    padding: 0em;
    margin: 0rem;
    box-sizing: border-box;
    background: #DCD6CD;
    font-family: roboto;
    }
    header{
        color: #4A4261;
        width: 620px;
        margin: 0 auto;
        font-size: 26px;
        padding: 2rem 0 2rem 0;
    }
    form{
        width: 620px;
        margin: 0 auto;
    }
    div{
        box-sizing: border-box;
        padding: 0.3rem;     
    }
    h1{
        background: #938C97;
        color: white;
        font-size: 20px;
        font-weight: 300;
        padding: 10px;
        border-radius: 4px;
    }
    .personal{
        float: left;
    }
    .contact{
        float: right;
    }
    p{
        padding: 0.8rem 0.8rem 0.8rem 0;
        margin: 0;
        text-align: left;
        color: #4A4261;
        font-weight: bold;
    }
    .clearfix{
        width: 0;
        height: 0;
        clear: both;
    }
    .gender{
        float:right;
        padding-left: 1rem;
        color: #4A4261;
    }
    .buttons{
        padding-top: 1rem;
    }
    .birth{
        float: left;
    }
    .half{
        width: 50%;
    }
    .boxes{
        display: block;
        padding: 5px;
        color: #4A4261;
        font-size: 14px;
        font-weight: 300;
    }
    .brands{
        float: left;
        font-weight: 300;
    }
    .checkbox02{
        float: right;
        padding-bottom: 1re;
    }
    .checkbox01{
        float: left;
        padding-bottom: 1rem;
    }
    .introduce{
        width: 620px;
        height: 165px;
        background: white;
    }
    input[type="text"], 
    input[type="email"], 
    input[type="telephone"]{
        display: block;
        width: 300px;
        height: 36px;
        border-radius: 4px;
        background: white;
    }
    #date{
        width: 80px;
        height: 36px;
    }
    select{
        display: block;
        width: 300px;
        height: 36px;
        border-radius: 4px;
        background: white;
    }
    #choice{
        font-size: 16px;
        color: #AFACA6;
        font-weight: 400;
        display: inline-block;
    }